body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

header {
    background-color: #4caf50;
    color: white;
    padding: 1rem;
    text-align: center;
}

nav a {
    text-decoration: none;
    color: white;
    margin-top: 10px;
    display: inline-block;
    padding: 5px 10px;
    background-color: #333;
    border-radius: 5px;
}

nav a:hover {
    background-color: #45a049;
}

main {
    padding: 2rem;
}

#formulario {
    margin-bottom: 2rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 400px;
    margin: 0 auto;
}

form input, form select, form button {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    background-color: #4caf50;
    color: white;
    cursor: pointer;
}

form button:hover {
    background-color: #45a049;
}

#grafica {
    max-width: 600px;
    margin: 2rem auto;
    text-align: center;
}

canvas {
    background: white;
    border: 1px solid #ccc;
    border-radius: 5px;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #333;
    color: white;
}

/* Estilos específicos para la página de misión y visión */
#Mision y #vision {
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#Mision p, #vision p {
    font-size: 1.2rem;
}
